---
---
$darker:         #212121;
$dark:           #2D2D2D;
$medium:         #3B3B35;
$light-medium:   #969696;
$dark-blue:      #215A6D;
$light-blue:     #3CA2A2;
$green:          #92C7A3;
$light:          #DFECE6;
$white:          #FFFFFF;
$dark-purple:    #300030;
$medium-purple:  #480048;
$regular-purple: #601848;
$red:            #C04848;
$orange:         #F07241;


body{
  color: Gainsboro;
}

a, a:active {
  color: $light-blue;
}

a:hover {
	color: $dark-blue;
}
