---
---
/* Colours */
$twitter:        #6dabda;
$linkedin:       #2b77b1;
$google-plus:    #c95644;
$git:		         #f6c2a4;
$stack-overflow: #c98b3b;
$rss:            #eea33a;
$facebook:			 #3a5795;

$darker:         #212121;
$dark:           #2D2D2D;
$medium:         #3B3B35;
$light-medium:   #969696;
$dark-blue:      #215A6D;
$light-blue:     #3CA2A2;
$green:          #92C7A3;
$light:          #DFECE6;
$white:          #FFFFFF;
$dark-purple:    #300030;
$medium-purple:  #480048;
$regular-purple: #601848;
$red:            #C04848;
$orange:         #F07241;

/* Responsive sizes */
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Main CSS */
/* Document */
html {
	overflow-x:hidden;
}

body {
	font-family: 'Ubuntu', serif;
	background-image: url("../lib/bgs/d23.png");

	background-size: auto;
	background-repeat: repeat;
}

/* Page */
.page-header
{
	height:6em;
	width:100%;

	.menu-button {
		color: $white;
		font-size: 1.5em;
		position: absolute;
		top: 1.5em;
		left: 1.5em;
		cursor: pointer;
		line-height: 1em;
		padding: 10px 15px;
		background-color: $dark;
		z-index: 999;

		&:hover{
			color: $light-blue;
		}

    &:hover + #side-menu{
      display:block;
    }

    @media screen and (max-width:35.438em){
      top:0px;
      left:0px;
    }
	}
}

.page-footer {
	.copyright{
		-webkit-animation-iteration-count : 1;
		-moz-animation-iteration-count : 1;
		-o-animation-iteration-count : 1;
		animation-iteration-count : 1;

		-webkit-animation-delay : 1s;
		-moz-animation-delay : 1s;
		-o-animation-delay : 1s;
		animation-delay : 1s;

		-webkit-animation-duration: 1s;
		-moz-animation-duration : 1s;
		-o-animation-duration : 1s;
		animation-duration : 1s;

		p{
			font-size:0.8em;
			text-align:center;
			a{
				font-size: 1.2em;
				text-align:center;
				color: white;
			}

			.fa {
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				transition: 0.3s;
			}
			.fa-rss-square:hover {
				color: $rss;
			}
		}
	}
}

/* Global */
a, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
    list-style-type: none;
		margin:0;
		padding:0;
}

.header{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}

.article-header{
	.thumb{
		text-align:center;
	}
}


.content-panel {
	margin-bottom: 0.5em;
	background-color: $darker;
	border-bottom: 5px solid $light-blue;
	border-radius: 5px;
}

.articles{
	text-align:center;
	ul{
		li {
			margin:1em auto;
			a{
				font-size: 1.2em;
			}
			small {
				font-size: 1em;
			}
		}
	}
}

.links{
  text-align:center;
	font-size:1.8em;
	margin: 0.5em auto auto;
	a{
		color: white;
	}
	.fa {
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
	}

	.fa-twitter-square:hover {
		color: $twitter;
	}

	.fa-linkedin-square:hover {
		color: $linkedin;
	}

	.fa-google-plus-square:hover {
		color: $google-plus;
	}

	.fa-git-square:hover {
		color: $git;
	}

	.fa-facebook-square:hover {
		color: $facebook;
	}

	.fa-stack-overflow:hover {
		color: $stack-overflow;
	}
}


/* Side menu */
#side-menu{
	display:none;
	z-index: 799;
  width:12em;
	position:fixed;
	top:5em;
	left:2.25em;
	background-color: #2d2d2d;
	box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	li{
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		cursor:pointer;
		transition: all 0.2s linear;

		a{
			margin-left: 1em;
			text-transform: uppercase;
			font-size: 1em;
			text-decoration: none;
			color:$white;
			font-weight: bold;
		}

		&:first-child{
			border-top-right-radius: 5px;
		}

		&:last-child{
			border-bottom-right-radius: 5px;
		}

		&:hover{
			border-left: 0.4em solid $light-blue;
			background-color: #222;
		}
	}

	.active{
		background-color: #222;
		border-left: 0.4em solid $light-blue;
	}

  &:hover{
    display:block;
  }

  @media screen and (max-width:35.438em){
    top:2.75em;
    left:0px;
  }
}

/* Home page */
#home {
	#welcome{
		.header{
			font-size: 3em;
			font-size: 4em;
			margin: 0.5em auto auto;
		}
	}

	.description {
    text-align: center;
		font-size:1.2em;
    font-weight: lighter;
	}

	#carousel{
		.content-panel{
			border-top: 5px solid $light-blue;
		}
		margin:auto auto 1em;
		.carousel{
			height: 12em;
			margin: 1em auto;
			text-align:center;
			-webkit-transform-style: preserve-3d;
  		-moz-transform-style: preserve-3d;
  		transform-style: preserve-3d;
			h1{
				font-family: 'Montserrat', sans-serif;
				font-size: 2.4em;
			}
			.carousel-item{
				&:nth-child(3) .pure-u-1{
					margin-top: 1.5em;
				}
			}
		}
	}

	#latest-articles{
		.header{
			font-size: 2em;
		}
		.articles{
	    .article-timestamp{
	      font-weight: lighter;
	    }
	  }
	}
}

/* Portfolio and Contact*/
.contact{
	.thumb{
		img{
			width:100%;
			height:auto;
		}
		.img-circle{
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}
	}
	.header{
		font-size:3em;
	}
	.name{
		text-align: center;
		margin: 1em auto auto;
	}
	.contact-label{
		text-align:center;
	}
	.links{
		margin:auto auto 1em;
	}
}
#portfolio{
}

/* Archive page */
#archive {
  .content-panel{
    margin:1em auto auto;
  }
	.header{
		font-size: 4em;
    margin: 0.4em auto;
	}
	#search-input {
		color:$dark;
		background-color:$white;
		border:1px solid #adc5cf;
	}
	#results-list{
		display:none;
		padding:1em;
	}
	#archive-list{
	}
}

/* 404 page */
#not-found {
	.header{
		font-size: 3em;
		margin: 0.5em auto auto;
	}
	.error-text{
		margin:auto auto 0.5em;
		p {
			font-size: 1.2em;
		}
	}

	.menu-links{
		margin: auto auto 1em;
	}
}

/* Single post */
.single-post{
  .content-panel{
    margin:1em auto;
  }

  .article-header{
    .header{
      font-size:2.5em;
    }
    .author-details{
      text-align: center;
			margin:auto auto 0.5em;
      small{
				font-size: 1em;
			}
    }
    .read-time{
      text-align: center;
    }
  }

  .article-content{
    text-align: justify;
    margin: 0.5em 1em auto;
    font-weight: lighter;
    h1 {
      font-size:1.5em;
    }

    .article-image{
      width : 100%;
    }
  }

  .article-footer{
    margin-bottom: 2em;
    .tags{
      font-size: 1.2em;
      font-weight:normal;
      text-align:center;
    }
  }

  .feedback{
    font-weight: lighter;
    .fa-heart{
      color:$red;
    }
    p{
      text-align: center;
    }
  }

  .comments{
    #disqus_thread{
      margin:0.5em 1em;
    }
  }
}

.related-posts{
  margin-top: 2.5em;
  .related-header {
    text-align: center;
		margin-top: -0.8em;

		a {
			color: $white;
			font-size: 1.4em;
			width: auto;
			padding: 0.5em 1em;
			background-color: $darker;
			box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);

      &:hover {
  			color: $dark-blue;
  		}
		}
	}

  .related-title {
    text-align: center;
		font-size: 2em;
    margin: 1em auto 0.5em;

		a {
			color: $white;
      &:hover {
  			color: $light;
  		}
		}
	}

  .excerpt{
    text-align: center;
    margin: auto auto 1em;
  }

  hr{
    margin: auto 1em;
  }

  .previous-next{
    margin-right: 1em;
    margin-left:1em;
    .next{
      text-align: right;
    }
  }
}

/* responsive grid hidden */
/* em pure-hidden values */
/* pure-hidden-xs */
@media screen and (max-width:35.438em) {
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-xs{display:none}
}
/* pure-hidden-sm */
@media screen and (min-width:35.5em) and (max-width:47.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-sm{display:none}
}
/* pure-hidden-md */
@media screen and (min-width:48em) and (max-width:63.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-lg{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-md{display:none}
}
/* pure-hidden-lg */
@media screen and (min-width:64em) and (max-width:79.938em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-xl{display:none}
    .pure-hidden-lg{display:none}
}
/* pure-hidden-xl */
@media screen and (min-width:80em) {
    .pure-visible-xs{display:none}
    .pure-visible-sm{display:none}
    .pure-visible-md{display:none}
    .pure-visible-lg{display:none}
    .pure-hidden-xl{display:none}
}
