---
---
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic);
/* Colours */
$twitter:        #6dabda;
$linkedin:       #2b77b1;
$google-plus:    #c95644;
$git:		         #f6c2a4;
$stack-overflow: #c98b3b;
$rss:            #eea33a;
$facebook:			 #3a5795;

$darker:         #212121;
$dark:           #2D2D2D;
$medium:         #3B3B35;
$light-medium:   #969696;
$dark-blue:      #215A6D;
$light-blue:     #3CA2A2;
$green:          #92C7A3;
$light:          #DFECE6;
$white:          #FFFFFF;
$dark-purple:    #300030;
$medium-purple:  #480048;
$regular-purple: #601848;
$red:            #C04848;
$orange:         #F07241;

/* Responsive sizes */
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Main CSS */
/* Document */
html {
	overflow-x:hidden;
}

body {
	background-image: url("../lib/bgs/d23.png");
  color: Gainsboro;
	background-size: auto;
	background-repeat: repeat;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	font-family: "Ubuntu", sans-serif;
	@media screen and (max-width:35.438em) {
		font-size: 1em;
		.header{
			font-size: 2em;
		}
	}
}

.hr-small{
	width:2.5em;
	border-style: solid;
	border-color: white;
}

/* Page */
.page-header
{
	height:2em;
	width:100%;

	.menu-button {
		color: $white;
		font-size: 1.5em;
		position: fixed;
		top: 0em;
		left: 0em;
		cursor: pointer;
		padding: 10px 15px;
		background-color: $dark;
		z-index: 999;
		&:hover{
			color: $orange;
			border-bottom-left-radius: 0em;
			border-bottom-right-radius: 0em;
		}

    &:hover ~ #side-menu{
      display:block;
    }
	}

	#menu-check:checked ~ #side-menu {
		display:block;
	}
}

.page-footer {
	.copyright{
		-webkit-animation-iteration-count : 1;
		-moz-animation-iteration-count : 1;
		-o-animation-iteration-count : 1;
		animation-iteration-count : 1;

		-webkit-animation-delay : 1s;
		-moz-animation-delay : 1s;
		-o-animation-delay : 1s;
		animation-delay : 1s;

		-webkit-animation-duration: 1s;
		-moz-animation-duration : 1s;
		-o-animation-duration : 1s;
		animation-duration : 1s;

		p{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
			text-align:center;
			a{
				color: white;
			}

			.fa {
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				transition: 0.3s;
			}
			.fa-rss-square{
				font-size: 1.2em;
				&:hover {
					color: $rss;
				}
			}
		}
	}
}

/* Global */
a {
	color: $orange;
	text-decoration: none;
	&:active{
		color: $orange;
		text-decoration: none;
	}
	&:hover {
		color: $red;
		text-decoration: none;
	}
}

.content-panel {
	background-color: $darker;
	border-bottom: 5px solid $orange;
}


.header{
	font-size:3em;
	text-align: center;
	text-transform: uppercase;
	margin: 0.25em auto;
}

.article-header{
	.thumb{
		text-align:center;
	}
}

.articles{
	text-align:center;
	ul{
		margin:0;
		padding:0;
		list-style-type: none;
		li {
			margin:1em auto;
		}
	}
}

.links{
  text-align:center;
	font-size:2em;
	a{
		color: white;
	}
	.fa {
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
	}

	.fa-twitter-square:hover {
		color: $twitter;
	}

	.fa-linkedin-square:hover {
		color: $linkedin;
	}

	.fa-google-plus-square:hover {
		color: $google-plus;
	}

	.fa-git-square:hover {
		color: $git;
	}

	.fa-facebook-square:hover {
		color: $facebook;
	}

	.fa-stack-overflow:hover {
		color: $stack-overflow;
	}
	.fa-envelope-square:hover {
		color: $red;
	}
}

/* Side menu */
#side-menu{
	display:none;
	z-index: 799;
  width:12em;
	position:fixed;
	top:2.77em;
	left:0px;
	background-color: #2d2d2d;
	box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	ul{
		margin:0;
		padding:0;
		list-style-type: none;
	}
	li{
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		cursor:pointer;
		transition: all 0.2s linear;

		a{
			margin-left: 1em;
			text-transform: uppercase;
			text-decoration: none;
			color:$white;
			font-weight: 700;
		}

		&:first-child{
			border-top-right-radius: 5px;
		}

		&:last-child{
			border-bottom-right-radius: 5px;
		}

		&:hover{
			border-left: 0.4em solid $orange;
			background-color: #222;
		}
	}

	.active{
		background-color: #222;
		border-left: 0.4em solid $orange;
	}

  &:hover{
    display:block;
  }
}

.carousel-container{
	text-align: center;
	.content-panel{
		border-top: 5px solid $orange;
	}
	.carousel{
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	#carousel-dots{
		.slick-dots{
			position:relative;
			bottom: 0;
			margin: auto auto 0.5em;
			button{
				&:before{
					color: $white;
				}
			}
		}
	}
	.carousel-item{
		canvas{
			height:auto;
			width:inherit;
		}
		p{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
		}
		outline: 0;
	}
}

.thumb{
	img{
		width:100%;
		height:auto;
	}
}

/* Home page */
#home {
	.description {
    text-align: center;
    font-weight: 400;
		color:red;
	}

	.carousel-container{
		.carousel{
			margin: 0.5em auto;
		}
		.content-panel{
			margin:auto auto 1.5em;
		}
	}

	#latest-articles{
		.article-timestamp{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
		}
		h1{
			margin:0.5em auto 0.25em;
		}
	}
}

/*Contact details*/
.contact-details{
	.name{
		text-align: center;
		margin: 0.5em auto auto;
	}

	.contact-label{
		text-align:center;
	}

	.links{
		margin:auto auto 0.5em;
	}
}

#portfolio,#archive{
	.articles{
		ul{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
		}
	}
}

/* Archive page */
#archive {
  .content-panel{
    margin:1em auto 0.5em;
  }

	.articles{
		margin: auto 0.25em;
	}

	#results-list{
		display:none;
	}
	#search-input{
		color:black;
	}
}


#about-me{
	.about-me{
		text-align: center;
		.content-panel{
			& > .pure-g{
				margin: auto 1em;
			}
		}
		p,ul{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
			text-align: justify;
		}

		ul{
			margin:0;
			padding-left: 1em;
		}
	}
	.skills{
		text-align: center;
		.content-panel{
			margin:1.5em auto auto;
			& > .pure-g{
				margin:auto 1em;
			}
		}
		.header{
			font-size: 1.8em;
			margin: 0.5em auto;
		}
		.skills-info{
			p,ul,small {
				font-family: "Open Sans",sans-serif;
				font-weight: 300;
			}
			p {
				margin: 0.5em auto auto;
				text-align: justify;
			}
			ul{
				padding-left: 1.2em;
				text-align: left;
				line-height: 1.4em;
				span{
					font-weight: 700;
				}
			}
		}
	}
}

/* Single post */
.single-post{
  .content-panel{
    margin:1em auto;
  }

  .article-header{
		.header{
			margin :0.5em auto auto;
		}
		.author-details p, .read-time{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
			text-align: center;
		}
  }

  .article-content{
    text-align: justify;
    margin: auto 1em;
		line-height: 1.4em;
		h2{
			font-weight: 300;
		}
		p,ul{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
		}

		.footnotes{
			ol li p{
				margin: auto;
			}
		}
    @media screen and (max-width:35.438em) {
			img {
				width:100%;
			}
		}
  }
  .article-footer{
		margin: 2em auto 0.5em;
    .tags{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
      text-align:center;
    }
  }

  .feedback{
    margin: auto 1em;
    .fa-heart{
      color:$red;
    }
    p{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
      text-align: center;
    }
  }

  .comments{
    #disqus_thread{
      margin:0.5em 1em;
    }
  }
}

#related-posts,#suggested-posts{
  margin-top: 1.5em;
  .related-header {
    text-align: center;
		margin-top: -0.6em;

		span {
			color: $white;
			width: auto;
			padding: 1em 1em;
			background-color: $darker;
			box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
		}
	}

	.related-title,.related-description{
		font-family: "Open Sans",sans-serif;
		font-weight: 300;
    text-align: center;
	}

  .related-title {
    margin: 1em auto auto;
		a {
			color: $orange;
      &:hover {
  			color: $red;
  		}
		}
	}

  .related-description{
    margin: auto 1em 0.5em;
  }

  hr{
    margin: auto 1em;
  }

  .previous-next{
    margin: auto 1em;
		p, small{
			font-family: "Open Sans",sans-serif;
			font-weight: 300;
		}
    .next{
      text-align: right;
    }

		.previous,.next{
			margin: auto auto 1em;
		}
  }
}

#suggested-posts{
	margin-top: 2.5em;
	.related-title{
		margin: 0.5em auto;
	}
}

/* 404 page */
#not-found {
	text-align:center;
	.header{
		margin: 0.5em auto auto;
	}

	.error-text,.menu-links{
		font-family: "Open Sans",sans-serif;
		font-weight: 300;
	}

	.error-text{
		margin:auto auto 0.5em;
	}

	.menu-links{
		margin: auto auto 1em;
	}
}
