body {
  background: #111;
  background-color: #111;
}

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

/* Main */
.reveal .button{
  margin-top: 10px;
  font-family: Ubuntu, 'sans-serif';
  font-weight: bold;
  padding: 15px 20px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color : rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.reveal .button:hover {
  padding: 15px 20px;
  border-radius:10px;
  color : white;
}

.reveal [data-btn^="nav-"] {
  position:absolute;
  right : 30px;
  font-size: 1em;
  z-index:50;
}

.reveal [data-btn="nav-down"], .reveal [data-btn="nav-top"]{
  bottom:30px;
}

.reveal [data-btn="nav-up"]{
  top:30px;
}

.reveal [data-btn="nav-top"]{
  display:none;
}

.backgrounds {
  opacity: 0.3;
  background-size: auto 2100px
}

.hr-small{
  width: 50%;
}
