---
---
/* Colours */
$twitter:        #6dabda;
$linkedin:       #2b77b1;
$google-plus:    #c95644;
$git:		         #f6c2a4;
$stack-overflow: #c98b3b;
$rss:            #eea33a;
$facebook:			 #3a5795;

$darker:         #212121;
$dark:           #2D2D2D;
$medium:         #3B3B35;
$light-medium:   #969696;
$dark-blue:      #215A6D;
$light-blue:     #3CA2A2;
$green:          #92C7A3;
$light:          #DFECE6;
$white:          #FFFFFF;
$dark-purple:    #300030;
$medium-purple:  #480048;
$regular-purple: #601848;
$red:            #C04848;
$orange:         #F07241;

/* Responsive sizes */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/* Globals */

html {
	overflow-x: hidden;
}

body {
	font-family: 'Ubuntu', serif;
	font-weight: 300;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("../lib/bgs/w3.jpg");
	background-image: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("../lib/bgs/w3.jpg");
	background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("../lib/bgs/w3.jpg");
	background-image: -o-linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("../lib/bgs/w3.jpg");
	background-size: cover;
	background-repeat: repeat;
}

a, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
    list-style-type: none;
}

.clearfix:after {
   content: " ";
   display: block;
   clear: both;
}

.header {
	font-size: 3em;
	text-align: center;
}

.menu-button {
	color: $white;
	font-size: 1.5em;
	position: absolute;
	top: 1.5em;
	left: 1.5em;
	cursor: pointer;
	line-height: 1em;
	padding: 10px 15px;
	background-color: $dark;
	z-index: 999;
}

.menu-button:hover{
	color: $light-blue;
}

.page-header
{
	height:10em;
	width:100%;
}

.content-panel {
	margin-bottom: 1em;
	background-color: $darker;
	border-bottom: 5px solid $light-blue;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.5);
}

.links {
	text-align:center;
	font-size:1.4em;
}

.links, #side-menu .mm-navbar-bottom-1{
	.fa {
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		transition: 0.3s;
	}

	.fa-twitter-square:hover {
		color: $twitter;
	}

	.fa-linkedin-square:hover {
		color: $linkedin;
	}

	.fa-google-plus-square:hover {
		color: $google-plus;
	}

	.fa-git-square:hover {
		color: $git;
	}

	.fa-facebook-square:hover {
		color: $facebook;
	}

	.fa-stack-overflow:hover {
		color: $stack-overflow;
	}

	.fa-rss-square:hover {
		color: $rss;
	}

}

#side-menu{

	font-weight: bold;
	font-family: 'Ubuntu',sans-serif;
	z-index:500;

	.mm-title {
		font-size: 1.4em;
	}

	.mm-listview li{
		font-size:1.2em;
	}

	li:hover{
		background-color: #2e2e2e;
	}
	.mm-navbar-bottom-1{
		label{
			margin-left: 1.5em;
		}
		a {
			margin:auto 0.4em;
		}
	}
}

#side-menu.mm-border-full{
	border-width: thick;
}

#side-menu.mm-opened + #page{
	width:100%;
	position:fixed;
}

/* Index */

.index {
	.header {
		margin : 0.5em auto 0.2em;
	}

	.pure-g:first-child .content-panel {
		border-bottom: 0.5em solid $light-blue;
		margin-bottom: 2em;
	}

	.author-header {
		font-family: 'Montserrat', sans-serif;
		color: $light-blue;
		font-size: 3em;
		margin:1.2em auto 0.5em;
		text-align: center;
	}

	.author-text {
		text-align: justify;
		font-size:1em;
		margin:auto 1em 2em;
	}

	.gravatar {
		position:relative;
		text-align: center;
		margin:-5em auto auto;

		@keyframes gravatarFadeInOut {
		  0% {
		    opacity:1;
		  }
		  17% {
		    opacity:1;
		  }
		  25% {
		    opacity:0;
		  }
		  92% {
		    opacity:0;
		  }
		  100% {
		    opacity:1;
		  }
		}

		img {
			position:absolute;
			left:3em;
  		-webkit-transition: opacity 1s ease-in-out;
  		-moz-transition: opacity 1s ease-in-out;
  		-o-transition: opacity 1s ease-in-out;
  		transition: opacity 1s ease-in-out;

			-webkit-animation-name: gravatarFadeInOut;
			-moz-animation-name: gravatarFadeInOut;
			-o-animation-name: gravatarFadeInOut;
			animation-name: gravatarFadeInOut;

			-webkit-animation-duration: 8s;
			-moz-animation-duration : 8s;
			-o-animation-duration : 8s;
			animation-duration : 8s;

			-webkit-animation-iteration-count : infinite;
			-moz-animation-iteration-count : infinite;
			-o-animation-iteration-count : infinite;
			animation-iteration-count : infinite;
		}

		img:nth-of-type(1) {
  		animation-delay: 0s;
			-webkit-animation-delay : 0s;
			-moz-animation-delay : 0s;
			-o-animation-delay : 0s;
			animation-delay : 0s;
		}

		img:nth-of-type(2) {
			-webkit-animation-delay : 2s;
			-moz-animation-delay : 2s;
			-o-animation-delay : 2s;
			animation-delay : 2s;
		}

		img:nth-of-type(3) {
			-webkit-animation-delay : 4s;
			-moz-animation-delay : 4s;
			-o-animation-delay : 4s;
			animation-delay : 4s;
		}
		img:nth-of-type(4) {
  		-webkit-animation-delay : 6s;
  		-moz-animation-delay : 6s;
  		-o-animation-delay : 6s;
  		animation-delay : 6s;
		}
	}

	.img-circle{
		-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
		border-bottom: 5px solid $light-blue;
	}

	.links {
		font-size: 2em;
	}

	.articles {
		text-align: center;
		h2 {
			color: $light-blue;
			font-size: 26px;
		}

		ul {
			padding: 0px;

			li {
				font-size: 24px;

				a:hover {
					color: $light-medium;
				}

				small {
					font-size: 14px;
					color: $light-medium;
				}

			}

			li:nth-last-of-type(1) {

				small {
					font-size: 16px;
				}

			}
		}

		a, a:active {
			color: $white;
		}

		a:hover {
			color: $light-blue;
		}

		li p{
			font-size: 0.8em;
		}
	}

	.copyright {
		text-align: center;
	}

	.links {
		a, a:active {
			color: #FFFFFF;
		}
	}

	.menu {
		font-size: 20px;
		position: absolute;

		a, a:active {
			color: #FFFFFF;
		}

		a:hover {
			color: $light-blue;
		}

		ul {

			ul {
				list-style: none;
				text-indent: -0.6em;
			}
		}
	}

}

.archive {
	#search-input {
		color:$dark;
		background-color:$white;
		border:1px solid #adc5cf;
		margin-bottom: 0;
	}
}


.single {
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Montserrat', sans-serif;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 28px;
	}

	p {}

	.menu {

		background-color: $dark-blue;

		a, a:active {
			color: $white;
		}

		a:hover {
			color: $light-blue;
		}

		h4 {

		}

		.share {

			h4 {
			}
		}

		.home {
			font-size: 16px;

			a {
				color: $white;
			}
		}

		.related {
			ul {
			}
			li {
			}
		}
	}

	.article {
		.thumb {
			text-align: center;
		}

		.author {
			font-size: 20px;
			text-align: center;
		}

		.read-time {
			font-size: 16px;
			text-align: center;
			font-weight: 400;
		}

		.content {
			font-size: 1em;
			line-height: 1em;

			img {
    		display: block;
			}

			li {
				list-style-type: disc;
			}

			blockquote {
				position: relative;
				background-color: $darker;
				color: white;
				box-sizing: content-box;
				border: none;
				font-size: 28px;

				p {
					z-index: 0;
				}

				:before {
    			font-family: "Times New Roman";
					color: $light-medium;
			    content: "“";
			    position: absolute;
			    top: 15px;
			    left: 15px;
			    font-size: 65px;
			    font-weight: bold;
				}

			}

			.pull-right {
				float: right;
			}

			.aligncenter {
			    display: block;
			}

			.highlight {
				box-sizing: content-box;

				pre {
					font-family: 'Anonymous Pro';
					background-color: $darker;
					color: $white;
					font-size: 12px;
					border: none;
					box-sizing: content-box;
					border-radius: 0;
				}
			}

			p, ul, ol {

				code {
					font-family: 'Anonymous Pro';
					font-size: 15px;
					background-color: $darker;
					color: $white;
					vertical-align: middle;
				}

			}

			.tags {
				text-align: center;

				a, a:active {
					color: $white;
				}

				a:hover {
					color: $light-blue;
				}

			}

			.share {
				text-align: center;

			}

		}

		.feedback {
			text-align: center;

			.fa-heart {
				color: $red;
			}

		}

		.comments {
		}

	}
}

.related {
	text-align: center;

	.related-header {
		a {
			color: $white;
			font-size: 18px;
			background-color: $darker;
			box-shadow: 0px 0px 0px 0px, 0px 6px 12px rgba(0, 0, 0, 0.2);
		}

		a:hover {
			color: $dark-blue;
		}
	}

	.title {
		font-size: 24px;

		a {
			color: $white;
		}

		a:hover {
			color: $light;
		}
	}

	p {
	}

	.previous-next {

		a {
			color: $white;
		}

		a:hover {
			color: $light;
		}
	}

	.next {
		float: right;
		text-align: right;
	}

	.previous {
		float: left;
		text-align: left;
	}

	.date {
		color: $light-medium;
	}
}

.search-hr {
	border-color: $light-medium;
}

.error {
	.error-text {
		a {
			color: $light-blue;
		}
	}

	.links {
		font-size: 1em;
	}
}

.footer {
	font-size:1em;
	font-weight: normal;
	p{text-align:center;}
	.fa-heart {
		color: $red;
	}

	div {
		color: $light-medium;
	}
}
