---
layout: default
title: About Me
nav: about
permalink: /about/
thumbnail: me
---

<div class="pure-g" id="about-me">
  <div class="pure-u-lg-1-12 pure-u-xl-1-5">&nbsp;</div>
  <div class="pure-u-1 pure-u-lg-5-6 pure-u-xl-3-5">

    <div class="pure-g article-header">
      <div class="pure-u-2-5">&nbsp;</div>
      <div class="pure-u-1-5 pure-thumbnails">
        {% if site.data.thumbnail[page.thumbnail] %}
        <div class="thumb pure-thumb-eliptical">
          <img class="" src="{{ site.data.thumbnail[page.thumbnail] }}" alt="Thumbnail: {{ page.thumbnail }}" />
        </div>
        {% elsif page.thumbnail %}
        <div class="thumb">
          <i class="fa fa-{{ page.thumbnail }} fa-5x"></i>
        </div>
        {% endif %}
      </div>
      <div class="pure-u-2-5">&nbsp;</div>
      <div class="pure-u-1">
        <div class="pure-g contact-details">
          <div class="pure-u-1">
            <h3 class="contact-label">Contact me via :</h3>
          </div>
          <div class="pure-u-1 links">
            {% include social_links.html %}
          </div>
        </div>
      </div>
      <h1 class="header pure-u-1">{{ page.title }}</h1>
    </div>

    <div class="pure-g about-me">
      <div class="pure-u-1 content-panel">
        <div class="pure-g">
          <div class="pure-u-1">
            <p>Hi, I'm Sagar, a developer/designer based in Florida, USA who has done his Masters in Computers and
              Information Sciences at Florida State University.
            </p>
            <p>What I normally do is :</p>
          </div>
          <div class="pure-u-1">
            <ul>
              <li>Create websites that are responsive by design and interactive by nature.</li>
              <li>Write codes that are simple but can do complex computation.</li>
              <li>Involve in projects that can teach me something new and valuable.</li>
              <li>Learn, Adapt, and share the knowledge that I gained with the world.</li>
              <li>Help other developers with their interesting projects.</li>
              <li>having fun doing all of the above.</li>
            </ul>
            <br />
          </div>
          <div class="pure-u-1">
            <div class="pure-g pure-hidden-xs pure-hidden-sm">
              <div class="responsive-animation pure-u-1" data-animation-step="1">
                <div class="device">
                  <div class="phone-home-button"></div>
                  <div class="tablet-home-button"></div>
                  <div class="screen-stand">
                    <div class="leg"></div>
                    <div class="foot"></div>
                  </div>
                  <div class="display pure-g">
                    <div class="slide1 pure-u-1">
                      <div><em>Desktops</em></div>
                    </div>
                    <div class="slide2 pure-u-1">
                      <div><em>Tablets</em></div>
                    </div>
                    <div class="slide3 pure-u-1">
                      <div><em>Phones</em></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pure-g skills">
      <div class="pure-u-1 content-panel">
        <div class="pure-g">
          <h1 class="pure-u-1">MY SKILLS</h1>
          <div class="pure-u-1">
            <div class="pure-g">
              <h2 class="pure-u-1" id="skills-label"></h2>
              <div class="pure-u-1 chart-container">
                <canvas id="skills-chart"></canvas>
              </div>
              <div class="pure-u-1 skills-info">
                <small>Note: Hover over the charts to stop animation</small>
                <p>For more information on my skills and the projects that I worked on, you can check out my LinkedIn
                  Profile here :</p>
                <br />
                <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async
                  defer></script>
                <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US"
                  data-type="vertical" data-theme="dark" data-vanity="dvenkatsagar"><a class="LI-simple-link"
                    href='https://www.linkedin.com/in/dvenkatsagar?trk=profile-badge'>Sagar D V</a></div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="pure-u-lg-1-12 pure-u-xl-1-5">&nbsp;</div>
</div>


<script src="{{ site.baseurl }}/lib/js/Chart.min.js"></script>
<script src="{{ site.baseurl }}/lib/js/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    // responsive logo animation
    var duration = 7000, steps = 3, step = 1;
    setInterval(function () {
      document.querySelector('#about-me .responsive-animation').setAttribute('data-animation-step', step = ++step > steps ? 1 : step);
    }, duration / steps);

    // Chart related functions
    // Load skills into chart
    function load_skills(main_chart, load_data) {
      if (main_chart.data.labels.length > 0) {
        for (var i = 0; i < load_data.data.labels.length; i++) {
          main_chart.data.labels[i] = load_data.data.labels[i];
          main_chart.data.datasets[0].data[i] = load_data.data.datasets[0].data[i];
        }

        main_chart.data.datasets[0].backgroundColor = load_data.data.datasets[0].backgroundColor;
        main_chart.data.datasets[0].borderColor = load_data.data.datasets[0].borderColor;
        main_chart.data.datasets[0].hoverBackgroundColor = load_data.data.datasets[0].hoverBackgroundColor;
        main_chart.data.datasets[0].hoverBorderColor = load_data.data.datasets[0].hoverBorderColor;

      } else {
        main_chart.data = load_data.data;
      }
      main_chart.update();
      return false;
    }

    // Data Switcher
    function switch_data(state, chart, label, skills) {
      load_skills(chart, skills);
      $("#skills-label").text(label);
      que.push(state);
      return false;
    }

    function switcher(i) {
      switch (i) {
        case 0:
          return switch_data(0, skills_chart, "As a Web Developer", {
            data: {
              labels: ["HTML5", "CSS3", "JS", "SERVER SIDE", "NOSQL"],
              datasets: [
                {
                  backgroundColor: "rgba(220,220,220,0.5)",
                  borderColor: "rgba(220,220,220,0.8)",
                  hoverBackgroundColor: "rgba(220,220,220,0.75)",
                  hoverBorderColor: "rgba(220,220,220,1)",
                  data: [9.5, 9.5, 9.5, 8, 8]
                }
              ]
            }
          });
        case 1:
          return switch_data(1, skills_chart, "As a Media Creator", {
            data: {
              labels: ["Adobe CS", "3D Tools", "Media Editing", "Game Design", "OS"],
              datasets: [
                {
                  backgroundColor: "rgba(204,255,153,0.5)",
                  borderColor: "rgba(204,255,153,0.8)",
                  hoverBackgroundColor: "rgba(204,255,153,0.75)",
                  hoverBorderColor: "rgba(204,255,153,1)",
                  data: [8, 7, 8, 7, 8.5]
                }
              ]
            }
          });
        case 2:
          return switch_data(2, skills_chart, "As a Programmer", {
            data: {
              labels: ["C", "C++", "JAVA", "PYTHON", "OTHER"],
              datasets: [
                {
                  backgroundColor: "rgba(151,187,205,0.5)",
                  borderColor: "rgba(151,187,205,0.8)",
                  hoverBackgroundColor: "rgba(151,187,205,0.75)",
                  hoverBorderColor: "rgba(151,187,205,1)",
                  data: [8, 8, 7.5, 9.5, 8]
                }
              ]
            }
          });
      }
      return false;
    }

    // Chart settings
    var scaleOptions = {
      border: {
        color: 'rgba(128,128,128,0.5)'
      },
      grid: {
        color: 'rgba(0,0,0,0.2)',
        borderColor: 'rgba(0,0,0,0.2)',
        tickColor: 'rgba(0,0,0,0.2)'
      },
      ticks: {
        color: '#888',
        font: {
          size: 13
        }
      }
    };

    var chartOptions = {
      type: 'bar',
      options: {
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          x: scaleOptions,
          y: scaleOptions
        }
      }
    };

    // Charts initiation
    const ctx = document.getElementById('skills-chart');
    var skills_chart = new Chart(ctx, chartOptions);

    // Animation settings
    var que = [0, 1];
    // initial state
    switcher(2);
    var interval = setInterval(function () {
      var i = que.shift();
      switcher(i);
    }, 4000);

    // Hover function for interval
    $("#skills-chart").hover(function () {
      clearInterval(interval);
    }, function () {
      interval = setInterval(function () {
        var i = que.shift();
        switcher(i);
      }, 4000);
    });

  });
</script>