<div class="footer clearfix">
  <div class="pure-g">
    <div class="pure-u-11-24" style="text-align: right;">
      <p>Made by <a href="https://github.com/dvenkatsagar">Sagar DV</a></p>
    </div>
    <div class="pure-u-2-24"><p>|</p></div>
    <div class="pure-u-11-24" style="text-align: left;">
      <p><i class="fa fa-code"></i> on <a href="https://github.com/dvenkatsagar/dvenkatsagar.github.io">Github</a> &nbsp;<i class="fa fa-github-alt"></i></p>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/lib/js/jquery.min.js"></script>
<!--script src="{{ site.baseurl }}/lib/js/bootstrap.min.js"></script-->
<script src="{{ site.baseurl }}/lib/js/jquery.mmenu.min.all.js"></script>
<script src="{{ site.baseurl }}/lib/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
</script>

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
          _gaq.push(['_trackPageview']);
  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
