<nav id="side-menu">
  <ul>
    <li {% if page.nav == 'home' %} class="mm-selected" {% endif %} ><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
    <li {% if page.nav == 'portfolio' %} class="mmselected" {% endif %} ><a href="{{ site.baseurl }}/portfolio/"><i class="fa fa-book"></i> Portfolio</a></li>
    {% assign array = "blog|projects|presentations|tutorials|posts" | split: "|" %}
    <li {% if array contains page.nav %} class="mm-selected" {% endif %} ><a href="{{ site.baseurl }}/blog/"><i class="fa fa-newspaper-o"></i> Blog</a></li>
    <li {% if array contains page.nav %} class="mm-selected" {% endif %} ><a href="{{ site.baseurl }}/archive/"><i class="fa fa-archive"></i> Archive</a></li>
    <li {% if page.nav == 'contact' %} class="mm-selected" {% endif %} ><a href="{{ site.baseurl }}/contact/"><i class="fa fa-user"></i> Contact Me</a></li>
  </ul>
</nav>
