<nav id="side-menu">
  <ul>
    <li {% if page.nav == 'home' %} class="mm-selected" {% endif %} ><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>

    {% assign array = "blog|projects|presentations|tutorials|posts" | split: "|" %}
    <li {% if array contains page.nav %} class="mm-selected" {% endif %} ><a href="{{ site.baseurl }}/blog/"><i class="fa fa-newspaper-o"></i> Blog</a>
      <ul>
          <li><a href="{{ site.baseurl }}/blog/projects/"><i class="fa fa-briefcase"></i> Projects</a></li>
          <li><a href="{{ site.baseurl }}/blog/presentations/"><i class="fa fa-television"></i> Presentations</a></li>
          <li><a href="{{ site.baseurl }}/blog/tutorials/"><i class="fa fa-graduation-cap"></i> Tutorials</a></li>
          <li><a href="{{ site.baseurl }}/blog/posts/"><i class="fa fa-archive"></i> Archive</a></li>
      </ul>
    </li>

    <li {% if page.nav == 'search' %} class="mm-selected" {% endif %} ><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Search</a></li>
    <li {% if page.nav == 'contact' %} class="mm-selected" {% endif %} ><a href="{{ site.baseurl }}/contact/"><i class="fa fa-user"></i> Contact</a></li>
  </ul>
</nav>
