{% assign arr = "about|archive" | split: "|" %}
{% unless arr contains page.nav %}
<script src="{{ site.baseurl }}/lib/js/jquery.min.js"></script>
{% endunless %}
<script type="text/javascript" src="{{ site.baseurl }}/lib/js/slick.min.js"></script>
<script src="{{ site.baseurl }}/lib/js/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="{{ site.baseurl }}/js/main.js"></script>
{% if site.google_analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
