{% assign arr = "about|archive" | split: "|" %}
{% unless arr contains page.nav %}
<script src="{{ site.baseurl }}/lib/js/jquery.min.js"></script>
{% endunless %}
<script type="text/javascript" src="{{ site.baseurl }}/lib/js/slick.min.js"></script>
<script src="{{ site.baseurl }}/lib/js/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PNX4FRTP5F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PNX4FRTP5F');
</script>

