<!--div class="links"-->
  {% if site.facebook_link %}<a href="{{ site.facebook_link }}" target="_new"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i></a>{% endif %}
  {% if site.twitter_link %}<a href="{{ site.twitter_link }}" target="_new"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i></a>{% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i></a>{% endif %}
  {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-fw fa-google-plus-square" aria-hidden="true"></i></a>{% endif %}
  {% if site.git_link %}<a href="{{ site.git_link }}" target="_new"><i class="fa fa-fw fa-git-square" aria-hidden="true"></i></a>{% endif %}
  {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-fw fa-stack-overflow" aria-hidden="true"></i></a>{% endif %}
  <a href="mailto:{{ site.email }}" target="_new"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i></a>
<!--/div-->
