---
layout: default
---

{% if page.minutes %}
  {% assign minutes = page.minutes %}
{% else %}
  {% assign minutes = content | number_of_words | divided_by: 180 %}
  {% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
{% endif %}

<div id="post">
  <div class="pure-g single-post">
    <div class="pure-u-lg-1-12 pure-u-xl-1-5">&nbsp;</div>
    <div class="pure-u-1 pure-u-lg-5-6 pure-u-xl-3-5">

      <div class="pure-g article-header">
        <div class="pure-u-1">
          {% if site.data.thumbnail[page.thumbnail] %}
          <div class="thumb">
            <img src="{{ site.data.thumbnail[page.thumbnail] }}" alt="Thumbnail: {{ page.thumbnail }}" />
          </div>
          {% elsif page.thumbnail %}
          <div class="thumb">
            <i class="fa fa-{{ page.thumbnail }} fa-5x"></i>
          </div>
          {% endif %}
        </div>
        <h1 class="header pure-u-1">{{ page.title }}</h1>
        <div class="pure-u-1">
          <div class="author-details">
            <p>
              <i>
                {% if page.author %}
                by
                <span class="author">
                  {% if site.linkedin_link %}
                  <a href="{{ site.linkedin_link }}">
                  {% endif %}
                    {{ page.author }}
                  {% if site.linkedin_link %}
                  </a>
                  {% endif %}
                </span>
                {% endif %}
                on {{ page.date | date: "%B %-d, %Y" }}
                {% if page.categories != empty %} under {% for category in page.categories %}{% if forloop.last %}{{ category | capitalize }}{% endif %}{% endfor %}{% endif %}
              </i>
            </p>
          </div>
        </div>
        <div class="pure-u-1">
          <div class="read-time">
            <small>
              {{ minutes }} minute read time
            </small>
          </div>
        </div>
      </div>

      <div class="pure-g">
        <div class="pure-u-1 content-panel">
          <div class="article-content">
            {{ content }}
          </div>
          {% if page.tags and page.tags.size > 0 %}
          <div class="article-footer">
            <div class="tags">
              <small>
                <i class="fa fa-tags"></i>
                {{ page.tags | join: ', ' }}
              </small>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="pure-g">
        <div class="pure-u-1 content-panel">
          <div class="feedback">
            <p>I <i class="fa fa-heart"></i> feedback.</p>
            <p>Let me know what you think of this article on twitter <a href="{{ site.twitter_link }}">@{{ site.twitter_username }}</a> or leave a comment below!</p>
          </div>
        </div>
      </div>

      {% if site.disqus_account %}
      <div class="pure-g comments">
        <div class="pure-u-1 content-panel">
          <div id="disqus_thread">
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
    <div class="pure-u-lg-1-12 pure-u-xl-1-5">&nbsp;</div>
  </div>

  <div class="pure-g" id="related-posts">
    <div class="pure-u-lg-1-12 pure-u-xl-1-5">&nbsp;</div>
    <div class="pure-u-1 pure-u-lg-5-6 pure-u-xl-3-5">
      <div class="pure-g content-panel">
        <div class="related-header pure-u-1">
          <span>Read More</span>
        </div>
        {% if site.related_posts.size != 0 %}
        {% for post in site.related_posts limit:1 %}
        <h2 class="related-title pure-u-1">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="related-description pure-u-1">
          {% if post.summary %}
            <p>{{ post.summary | strip_html | truncatewords:30 }}</p>
          {% else %}
            <p>{{ post.excerpt | strip_html | truncatewords:30 }}</p>
          {% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
        </div>
        {% if forloop.last %}
        <div class="pure-u-1">
          <hr></hr>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h4 class="related-title pure-u-1">
          <span>No more posts available as of now</span>
        </h4>
        {% endif %}
        <div class="pure-u-1">
          <div class="previous-next">
            <div class="pure-g">
              <div class="pure-u-1-2">
                <div class="previous">
                  {% if page.previous %}
                  <p><a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a></p>
                  <small class="date">Published {{ page.previous.date | date: "%B %-d, %Y" }}</small>
                  {% endif %}
                </div>
              </div>
              <div class="pure-u-1-2">
                <div class="next">
                  {% if page.next %}
                  <p><a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a></p>
                  <small class="date">Published {{ page.next.date | date: "%B %-d, %Y" }}</small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-u-lg-1-12 pure-u-xl-1-5">&nbsp;</div>
  </div>
</div>

{% if site.disqus_account %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
function disqus_config() { this.experiment.enable_scroll_container = true; }
var disqus_shortname = "{{ site.disqus_account }}"; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endif %}
